%h2
  %a{:href => "/about/#{@author}.html"}= Korma::Blog.author_names[@author]
  's Posts (
  %a{:href => "/feed/#{@author}.xml"} feed
  )

- @entries.each do |e|
  %h3= e.title

  %span= e.description

  %p
    %em
      = "#{e.published_date.strftime("%Y-%m-%d %H:%M")}"
      %a{:href => e.url} Continue Reading
