%h2 
  All Posts (
  %a{:href => "/feed.xml"} feed
  )

- @entries.each do |e|
  %hr
  %h3= e.title

  %span= e.description

  %p
    %em
      = "#{e.published_date.strftime("%Y-%m-%d %H:%M")} by "
      %a{:href =>e.author_url}= e.author 

  %p
    %a{:href => e.url} Continue Reading
